.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-color: #428BCA;
    padding: 10px;
}
.nav-tabs{
	border-color: #428BCA;
}
.nav-tabs > li > a, .nav-tabs > li > a:hover{
	border-color: #428BCA;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus{
	border-color: #428BCA;
	background-color: #428BCA;
	color: #ffffff;
}
.nav-tabs > li.active > a:hover{
	border-color: #428BCA;
	background-color: #428BCA;
}
.divider-vertical {
    height: 40px;
    margin: 0 9px;
    margin-top: 5px;
    border-left: 1px solid #1c2022;
    border-right: 1px solid #3e4a4e;
}
#footer {
	background-color: #3e4a4e;
	padding-top: 5px;
	padding-bottom: 10px;
}
#footer .container{
	color: white;
}
.panel-title > a:hover{
	text-decoration: none;
}
