body {
	margin: 0;
	font: 62.5% "Trebuchet MS", sans-serif; 
}

#header
{
	background-image: url('../images/header_bg.png');
	height: 50px;
	width: 100%;
	line-height: 46px;
	color: white ;
	top: 0px;
	font-size: large ;
	padding-left: 10px;
}

#loginmenu
{
    float: right;
    font-size: x-small;
    margin-right: 5px;
    color: white;
}

a.nolink
{
    text-decoration: none;
    color: white;
}

#wrapper
{
	width: 972px;
	text-align: center ;
}

#left-col
{
	width: 208px;
	float: left ;
}

#middle-col
{
	width: 746px;
	float: left ;
	margin-left: 9px;
}

#right-col
{
	width: 208px;
	float: left ;
	margin-left: 9px;
}

#footer
{
	clear:both;
	height:10px;
	position:absolute;
	width:100%;
}

#navigationmenu {
	width: 972px;
	height: 50px;
	margin: 0;
	padding: 0;
	background: url(../images/navigation-bg.jpg) no-repeat left top;
}
#navigationmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigationmenu ul li {
	display: inline;
	margin: 0px;
}
#navigationmenu ul li a {
	height:33px;
	display: block;
	float: left;
	padding: 17px 15px 0 15px;
	font: bold 12px Arial;
	color: #363636;
	text-decoration: none;
	background: url(../images/navigation-separator.png) no-repeat right center;
}

#navigationmenu ul li a:hover {
	color:#FFF;
	/*background: url(../images/navigation-hover.png) repeat-x left top;*/
}

#navigationmenu ul li#active a {
	color:#FFF;
	background: url(../images/navigation-hover.png) repeat-x left top;
}

img{
    border: 0px;
}

#widgt-quicklinks{
	width:100%;
	text-align: left;
}
/*==========================================*/

#info, #success, #warning, #error, #validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 30px;
background-repeat: no-repeat;
background-position: 10px center;
}
#info {
color: #00529B;
background-color: #BDE5F8;
}
#success {
color: #4F8A10;
background-color: #DFF2BF;
}
#warning {
color: #9F6000;
background-color: #FEEFB3;
}
#error {
color: #D8000C;
background-color: #FFBABA;
}

ul.SystemMessage{
	text-align: left;
}

#select_sidebar{ border-style: solid; width: 168px; } 
#select_content{ border-style: solid; width: 220px; } 
#wrapper{margin:0px 0;padding:0px;}
#progress-bar {
   /*background: url(../images/percentage-bg.png) no-repeat left center;*/
   width: 161px;
   height: 15px;
   
	}
div.progress-level {
   background: url(../images/progress.png) no-repeat left center;
   /*width: 100%;*/ /* SET THIS TO GET THE DESIRE LEVEL */
   height: 15px;
	}